# Virtual environment
venv/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# VS Code settings
.vscode/
*.code-workspace

# Jupyter notebooks
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db
